
<div class="ot-bus-container">
  <div id="prize">
    <img id="drawer" src="http://www.thirdleveltraining.com/images/tileGame/drawer.png">
    <img id="heart" src="http://www.thirdleveltraining.com/images/tileGame/purpleHeart.png">
  </div>
  <div class="ot-puzzle-wrapper" id = "wrapper">
    <div class="ot-puzzle-tray" id = "tray">
      <div class="ot-puzzle-tiles" id = "allTiles">
        <img class="ot-puzzle-tile" id="tile4" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-4.jpg?v=1608195288531" alt="">
        <img class="ot-puzzle-tile" id="tile10" src="http://www.thirdleveltraining.com/images/tileGame/tile10.png" alt="">
        <img class="ot-puzzle-tile" id="tile9" src="http://www.thirdleveltraining.com/images/tileGame/tile9.png">
        <img class="ot-puzzle-tile" id="tile14" src="http://www.thirdleveltraining.com/images/tileGame/tile14.png">
        <img class="ot-puzzle-tile" id="tile13" src="http://www.thirdleveltraining.com/images/tileGame/tile13.png">
        <img class="ot-puzzle-tile" id="tile15" src="http://www.thirdleveltraining.com/images/tileGame/tile15.png">
        <img class="ot-puzzle-tile" width="75" height="75" id="tile1" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-1.jpg?v=1608195288158">
        <img class="ot-puzzle-tile" id="tile5" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-4.jpg?v=1608195288531">
        <img class="ot-puzzle-tile" id="tile2" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-2.jpg?v=1608195289267">
        <div class="blank" id="blank"></div>
        <img class="ot-puzzle-tile" id="tile11" src="http://www.thirdleveltraining.com/images/tileGame/tile11.png">
        <img class="ot-puzzle-tile" id="tile8" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-8.jpg?v=1608195288738">
        <img class="ot-puzzle-tile" id="tile6" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-6.jpg?v=1608195289386">
        <img class="ot-puzzle-tile" id="tile3" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-3.jpg?v=1608195288855">
        <img class="ot-puzzle-tile" id="tile12" src="http://www.thirdleveltraining.com/images/tileGame/tile12.png">
        <img class="ot-puzzle-tile" id="tile7" src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fatun-7.jpg?v=1608195288607">
      </div>
    </div>
  </div>


</div>
