<div class="ot-card-container">
  <ot-tile1></ot-tile1>

  <div class="ot-card ot-card-double ot-card-double-image">
    <video width="600" height="350" autoplay muted loop>
      <source src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2FFish%20-%20finished.mp4?v=1608252899704" type="video/mp4">

    </video>
  </div>

  <!--<div class="ot-card ot-card-yelow ot-hover-card">
    <img otFadeInAnimation
         [duration]="1"
         [delay]="1" width="250" height="150" alt="Conservas Ortiz" src="../assets/anchovy.png">
  </div>-->

  <ot-tile-tint></ot-tile-tint>
 <ot-tile-promo></ot-tile-promo>
</div>

<div class="ot-card-container">
  <a href="https://www.conservasortiz.com/productos/" class="ot-card ot-card-middle-blue ot-hover-card">
    <img
      src="https://cdn.glitch.com/5fe96c62-a081-4344-8624-a5e0dd93a10d%2Fconservas-ortiz-productos.png?v=1608196176920"
      width="80%" height="80%" alt="">
  </a>

  <ot-tile-fishing></ot-tile-fishing>
  <ot-tile-heroe></ot-tile-heroe>
</div>

